<div fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Cargar Reseña</mat-card-title>
        </mat-card-header>

        <mat-card-content fxLayout="column">
            <form [formGroup]="form" fxLayout="column">
                <mat-form-field appearance="outline">
                    <mat-label>Edad paciente</mat-label>
                    <input formControlName="edad" matInput type="number"
                        [ngClass]="{ 'is-invalid': submitted && f.edad.errors }">
                    <div *ngIf="submitted && f.edad.errors" class="invalid-feedback">
                        <div *ngIf="f.edad.errors.required">Ingrese una edad</div>
                    </div>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Temperatura corporal</mat-label>
                    <input formControlName="temperatura" matInput type="number"
                        [ngClass]="{ 'is-invalid': submitted && f.temperatura.errors }">
                    <div *ngIf="submitted && f.temperatura.errors" class="invalid-feedback">
                        <div *ngIf="f.temperatura.errors.required">Ingrese una temperatura</div>
                    </div>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Presión</mat-label>
                    <input formControlName="presion" matInput type="number"
                        [ngClass]="{ 'is-invalid': submitted && f.presion.errors }">
                    <div *ngIf="submitted && f.presion.errors" class="invalid-feedback">
                        <div *ngIf="f.presion.errors.required">Ingrese una presión</div>
                    </div>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Detalle adicional</mat-label>
                    <input formControlName="detalle" matInput type="text"
                        [ngClass]="{ 'is-invalid': submitted && f.detalle.errors }">
                    <div *ngIf="submitted && f.detalle.errors" class="invalid-feedback">
                        <div *ngIf="f.detalle.errors.required">Ingrese un detalle</div>
                    </div>
                </mat-form-field>
            </form>
            <div *ngFor="let campo of camposAdicionales; let i = index">
                <mat-form-field appearance="outline">
                    <input matInput type="text" [(ngModel)]="campo.clave" placeHolder="Ingrese nombre del campo">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <input matInput type="text" [(ngModel)]="campo.valor" placeHolder="Ingrese el valor">
                </mat-form-field>
                <button (click)="removerItem(i)" mat-icon-button>
                    <mat-icon>remove_circle_outline</mat-icon>
                </button>
            </div>
            <button *ngIf="camposAdicionales.length < 3" mat-mini-fab color="accent" (click)="agregarCampo()"
                aria-label="Example icon button with a plus one icon">
                <mat-icon>add</mat-icon>
            </button>
        </mat-card-content>
        <mat-card-actions>
            <button (click)="guardar()" [disabled]="loading || !esValido()" type="submit" mat-raised-button color="primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Guardar reseña
            </button>
        </mat-card-actions>

    </mat-card>
</div>