<mat-toolbar class="color">
    <button *ngIf="isLoggedIn()" mat-icon-button (click)="toggleSideBar() ">
        <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button routerLink="/Principal">
        <mat-icon>home</mat-icon>
    </button>
    <span class="spacer"></span>
    <button *ngIf="notificacion" mat-icon-button>
        <mat-icon *ngIf="cantidad > 0" matBadgeColor="warn" [matBadge]="cantidad" routerLink="/Notificaciones">notifications</mat-icon>
        <mat-icon *ngIf="cantidad == 0" routerLink="/Notificaciones">notifications</mat-icon>
    </button>
</mat-toolbar>
<mat-drawer-container>
    <mat-sidenav #sidenav class="side-nav-left" position="start" role="directory" [opened]="opened">
        <div class="backdrop" (click)="opened = false"></div>
        <div class="side-nav-content">
            <mat-action-list>
                <button mat-list-item (click)="toggleSideBar()">
                    <mat-icon>keyboard_backspace</mat-icon>
                </button>
                <button *ngIf="role == 'admin'" mat-list-item routerLink="/AdministrarProfesionales">
                    <span>Autorizar Profesionales</span>
                </button>
                <button *ngIf="role == 'admin'" mat-list-item routerLink="/AltaAdministrador">
                    <span>Añadir Administrador</span>
                </button>
                <button *ngIf="role == 'admin'" mat-list-item routerLink="/Informes">
                    <span>Informes</span>
                </button>
                <button *ngIf="role == 'paciente' || role == 'profesional'" mat-list-item routerLink="/MisTurnos">
                    <span>Mis Turnos</span>
                </button>
                <button *ngIf="role == 'paciente'" mat-list-item routerLink="/PedirTurno">
                    <span>Pedir Turno</span>
                </button>
                <button *ngIf="role == 'paciente'" mat-list-item routerLink="/MisDatos">
                    <span>Mis Datos</span>
                </button>
                <button *ngIf="role == 'profesional'" mat-list-item routerLink="/AdministrarHorarios">
                    <span>Administrar Horarios</span>
                </button>
                <button mat-list-item (click)="salir()">
                    <span>Salir</span>
                </button>
            </mat-action-list>
        </div>
    </mat-sidenav>
</mat-drawer-container>