<app-menu></app-menu>
<div *ngIf="!cargando" fxLayout="column" fxLayoutAlign="center center">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Horarios">
            <mat-spinner *ngIf="cargando"></mat-spinner>
            <mat-card *ngIf="!cargando">
                <mat-card-content fxLayout="column" fxLayoutAlign="center center">
                    <mat-label>Días Laborales</mat-label>
                    <div fxLayout="row">
                        <button (click)="seleccionar(dia)" [ngClass]="{'seleccionado': !dia.seleccionado}" mat-mini-fab
                            *ngFor="let dia of dias">
                            {{dia.id}}
                        </button>
                    </div>
                    <div *ngIf="isDiaSemanaSeleccionado()">
                        <mat-label>Horarios Semanales</mat-label>
                        <div>
                            <input [(ngModel)]="horadesde" [format]=24 placeholder="Hora Desde" [ngxTimepicker]="desde"
                                min="8:00" max="19:00" readonly>
                            <ngx-material-timepicker [minutesGap]="30" #desde></ngx-material-timepicker>
                        </div>
                        <div>
                            <input [(ngModel)]="horahasta" [format]=24 placeholder="Hora Hasta" [ngxTimepicker]="hasta"
                                min="8:00" max="19:00" readonly>
                            <ngx-material-timepicker [minutesGap]="30" #hasta></ngx-material-timepicker>
                        </div>
                    </div>
                    <div *ngIf="sabado">
                        <mat-label>Horario Sábados</mat-label>
                        <div>
                            <input [(ngModel)]="horadesdeS" placeholder="Hora Desde" [format]=24
                                [ngxTimepicker]="desdeS" min="8:00" max="14:00" readonly>
                            <ngx-material-timepicker [minutesGap]="30" #desdeS></ngx-material-timepicker>
                        </div>
                        <div>
                            <input [(ngModel)]="horahastaS" placeholder="Hora Hasta" [format]=24
                                [ngxTimepicker]="hastaS" min="8:00 am" max="02:00 pm" readonly>
                            <ngx-material-timepicker [minutesGap]="30" #hastaS></ngx-material-timepicker>
                        </div>
                    </div>

                </mat-card-content>
                <mat-card-actions>
                    <button [disabled]="!isCompleted()" mat-raised-button color="primary"
                        (click)="guardar()">Guardar</button>
                </mat-card-actions>
            </mat-card>
        </mat-tab>
        <mat-tab label="Duración">
            <mat-card>
                <mat-card-content fxLayout="column" fxLayoutAlign="center center">
                    <mat-form-field *ngFor="let especialidad of profesional.especialidades" appearance="fill">
                        <mat-label>{{especialidad.especialidad}}</mat-label>
                        <mat-select [(ngModel)]="especialidad.duracion">
                          <mat-option [value]=30>
                            30
                          </mat-option>
                          <mat-option [value]=45>
                            45
                          </mat-option>
                          <mat-option [value]=60>
                            60
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary"
                        (click)="guardarConfig()">Guardar</button>
                </mat-card-actions>
            </mat-card>
        </mat-tab>
    </mat-tab-group>
</div>