.menu {
    text-align: center;
}

.button-principal {
    cursor: pointer;
    border-left: 1px solid black;
}

.button-principal:hover {
    opacity: 80%;
}

h1 {
    color: #111;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 5vmin;
    font-weight: 700;
    line-height: 5vmin;
    margin: 0 0 0;
    padding: 20px 30px;
    text-align: center;
    text-transform: uppercase;
}
h2 {
    color: #111;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 3.2vmin;
    font-weight: 400;
    line-height: 5vmin;
    margin: 0 0 0;
    padding: 20px 30px;
    text-align: center;
    text-transform: uppercase;
}

img{
    height: 30vw;
    width: 30vw;
    max-width: 500px;
    max-height: 500px;
}