<app-menu></app-menu>
<div fxLayout="column" fxLayoutAlign="center center">
    <h1>Bienvenido {{nombre}} {{apellido}}!</h1>
    <h2>Los horarios de atención son Lunes a Viernes de 8:00 a 19:00 y Sábados de 8:00 a 14:00</h2>
</div>
<div class="menu" fxLayout="row" fxLayoutAlign="center center">
    <div class="button-principal" fxFlexFill fxFlex="50">
        <h1>Pedir turno</h1>
        <img src="assets/images/atencion-medica.png">
    </div>
    <div class="button-principal" fxFlexFill fxFlex="50">
        <h1>Mis turnos</h1>
        <img src="assets/images/historial-medico.png">
    </div>
</div>