<app-menu></app-menu>
<div fxLayout="column" fxLayoutAlign="center center">
    <h1>Bienvenido {{nombre}} {{apellido}}!</h1>
    <h3>Los horarios de atención son Lunes a Viernes de 8:00 a 19:00 y Sábados de 8:00 a 14:00</h3>
</div>
<div class="menu" fxLayout="row" fxLayoutAlign="center center">
    <div routerLink="/PedirTurno" *ngIf="role == 'paciente'" class="button-principal" fxFlexFill fxFlex="50">
        <h2>Pedir turno</h2>
        <img src="assets/images/atencion-medica.png">
    </div>
    <div routerLink="/MisTurnos" *ngIf="role == 'paciente' || role == 'profesional'" class="button-principal" fxFlexFill fxFlex="50">
        <h2>Mis turnos</h2>
        <img src="assets/images/historial-medico.png">
    </div>
    <div routerLink="/AdministrarProfesionales" *ngIf="role == 'admin'" class="button-principal" fxFlexFill fxFlex="50">
        <h2>Autorizar Profesionales</h2>
        <img src="assets/images/autorizacion.png">
    </div>
    <div routerLink="/AltaAdministrador" *ngIf="role == 'admin'" class="button-principal" fxFlexFill fxFlex="50">
        <h2>Añadir Administrador</h2>
        <img src="assets/images/añadir.png">
    </div>
    <div routerLink="/AdministrarHorarios" *ngIf="role == 'profesional'" class="button-principal" fxFlexFill fxFlex="50">
        <h2>Administrar horarios</h2>
        <img src="assets/images/calendario.png">
    </div>
</div>