<app-menu></app-menu>
<div fxLayout="column" fxLayoutAlign="center center">
  <mat-horizontal-stepper [hidden]="siguiente" linear #stepper>
    <mat-step [stepControl]="especialidadForm" [editable]="isEditable">
      <form [formGroup]="especialidadForm">
        <ng-template matStepLabel>Seleccione la especialidad<br><label *ngIf="especialidadSeleccionada">{{especialidadSeleccionada}}</label></ng-template>
        <input hidden formControlName="especialidad">
        <mat-list>
          <mat-list-item (click)="seleccionarEspecialidad(especialidad)" *ngFor="let especialidad of especialidades" matStepperNext><p>{{especialidad}}</p></mat-list-item>
        </mat-list>        
        <div>
          <button mat-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="profesionalForm">
      <form [formGroup]="profesionalForm">
        <ng-template matStepLabel>Seleccione el profesional<br><label *ngIf="profesionalSeleccionado">{{profesionalSeleccionado | nombre: true}}</label></ng-template>
        <input hidden formControlName="profesional">
        <mat-list>
          <mat-list-item (click)="seleccionarProfesional(profesional)" *ngFor="let profesional of profesionales" matStepperNext>{{profesional | nombre}}</mat-list-item>
        </mat-list>
        <div>
          <button mat-button matStepperPrevious>Atras</button>
          <button mat-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="diaForm">
      <form [formGroup]="diaForm">
        <input hidden formControlName="dia">
        <ng-template matStepLabel>Seleccione el día<br><label *ngIf="diaSeleccionado">{{diaSeleccionado.toLocaleDateString()}}</label></ng-template>
        <mat-list>
          <mat-list-item (click)="seleccionarDia(dia)" *ngFor="let dia of dias" matStepperNext>{{dia.toLocaleDateString()}}</mat-list-item>
        </mat-list>
        <div>
          <button mat-button matStepperPrevious>Atras</button>
          <button mat-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="turnoForm">
      <form [formGroup]="turnoForm">
        <input hidden formControlName="turno">
        <ng-template matStepLabel>Seleccione turno<br><label *ngIf="turnoSeleccionado">{{turnoSeleccionado.hora}}</label></ng-template>
        <mat-list *ngFor="let profesional of turnos">
          <mat-list-item (click)="seleccionarTurno(turno)" *ngFor="let turno of profesional.turnos">{{turno.hora}}</mat-list-item>
        </mat-list>
        <div>
          <button mat-button [disabled]="turnoSeleccionado == null" (click)="siguientePaso()">Siguiente</button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
  <app-detalle-turno [hidden]="!siguiente" (guardarClick)="guardar()" [turno]="turnoSeleccionado"></app-detalle-turno>
</div>