<app-menu></app-menu>
<div class="container" fxLayout="column" fxLayoutAlign="none center">
    <mat-spinner *ngIf="cargandoProfesionales"></mat-spinner>
    <div class="container" [hidden]="cargandoProfesionales">
        <table [hidden]="cargandoProfesionales" mat-table [dataSource]="profesionales" matSort class="mat-elevation-z8 tabla">
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                <td mat-cell *matCellDef="let element">{{element.nombre}}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <ng-container matColumnDef="apellido">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</th>
                <td mat-cell *matCellDef="let element">{{element.apellido}}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <ng-container matColumnDef="correo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Correo</th>
                <td mat-cell *matCellDef="let element">{{element.correo}}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <ng-container matColumnDef="especialidades">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Especialidades</th>
                <td mat-cell *matCellDef="let element"><button mat-button
                        (click)="openDialog(element.especialidades)">Ver</button></td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
                <td mat-cell class="estado" *matCellDef="let element">{{element.estado}}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let element">
                    <button *ngIf="element.estado == 'pendiente'" matTooltip="Autorizar" mat-button (click)="autorizar(element)">
                        <mat-icon>work</mat-icon>
                    </button>
                    <button *ngIf="element.estado == 'pendiente'" matTooltip="Rechazar" mat-button (click)="rechazar(element)">
                        <mat-icon>work_off</mat-icon>
                    </button>
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        </table>
        <mat-paginator class="paginas" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>