/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;   background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #c23b3b, #b4b5bb);
    background: -o-linear-gradient(-135deg, #c23b3b, #b4b5bb);
    background: -moz-linear-gradient(-135deg, #c23b3b, #b4b5bb);
    background: linear-gradient(-135deg, #c23b3b, #b4b5bb);}
.alerta{
    position: fixed;
    top: 10px;
    left: 20vw;
}

.notif-success {
    color: #155724 !important;
    background-color: #78e692 !important;
    border-color: #c3e6cb !important;
    .mat-simple-snackbar-action {
        color: #155724 !important;
    }
}

.notif-warn {
    color: #571515 !important;
    background-color: #e99b9b !important;
    border-color: #c3e6cb !important;
    .mat-simple-snackbar-action {
        color: #571515 !important;
    }
}